/*ici je met les fonts pour pour mon haut de page*/
@font-face {
    font-family:"Dela Gothic One";
    src: url(../assets/polices/DelaGothicOne-Regular.ttf) format('truetype');
}
@font-face {
    font-family:"Roboto Mono";
    src:url(../assets/polices/RobotoMono-VariableFont_wght.ttf) format('truetype');
}

* {
    box-sizing: border-box;
}
   
/*#debut de la section haut de page#*/
/*ici je fais le mobile first*/

/*ici je gere mon haut de page au complet donc dimension couleur*/
nav {
    padding: 2vw;
    display: flex;
    align-items: center;
    align-self: stretch;
    background: black;
    width: 100vw;
    height: 10vw;
}
/*je met le hover en mauve*/
a {
    color: #FFF;
}
a :hover {
    color: #9747FF;
}

.nav :hover {
    color: #9747FF;
}

.logo:hover {
    opacity: 70%;
}
/*ici je massure que tout les element pas sur la page mobile ne soit pas present*/
.propos {
    display:none;
}

.services {
    display: none;
}
.oeuvres{
    display: none;
}

.artistes {
    display: none;
}

.fr {
    display: none;
}
/*ici je moccupe de mon bouton menu*/
.menu {
    
    color: #FFF;
    font-family: "Dela Gothic One";
    font-size: 5vw;
    font-weight: 400;
}
/* ici je gere la taille et le positionnement de la boite de mon logo*/
.logo {
    width: 40vw;
    margin-right: 28vw;
}
/*je gere la taille de mon image du logo*/
img {
    
    width: 40vw;
    flex-shrink: 0;
}

.recherche {
    display: none;
}
/*#debut section footer#/
/*iphone first*/
/* je formate la taille du rectangle gris du footer */
footer {
    width: 100vw;
    height: 45vh;
    background-color:#D9D9D9;
}

/* j'ajoute display flex pour qu'il soit responsive et que les éléments de la div se placent un après l'autre flex direction collumn pour que tous les éléments se placent verticalement */
.foot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* je change la taille du logo pour qu'il entre dans le footer, j'ajoute un margin pour qu'il ne colle pas aux bordures du footer */
.logo2 {
    width: 40vw;
    height: 100%;
    margin: 5vw 0px 2vh 2vw;
}

/* je donne la taille et les propriétées au texte */
.text {
    width: 30vw;
    height: 17vh;
    color: #000;
    font-family: "Roboto Mono";
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 4vw;
}

.reference {
    display: flex;
    flex-direction: row;
}

.resaux {
    width: 30vw;
    height: 100%;
    margin: 6vh 10vw 0 2vh;
}

.conseil {
    width: 40vw;
    height: 100%;
    margin: 6vh 5vw 0 0;
}

.copyright {
    margin-left: 36vw;
    width: 30vw;
    height: 20vw;
    flex-direction: column;
    align-self: flex-end;
    font-family: "Roboto Mono";
    font-size: 2vw;
    margin: 0 5vw 0 0;
}

.links {
    display: none;
}
/*#fin section footer#*/
/*#Debut Acceuil#*/
/*ici je met mon video sur la largeur total de lecran et la positionne plus vers le haut pour avoir un crop plus interressant*/
main {
    width: 100vw;
}
video {
    width: 100vw;
    flex-shrink: 0;
}
/*je fais mon titre evenement*/
.titre {
    font-weight: 400;
    font-family: "Dela Gothic One";
    font-size: 5vw;
    text-align: center;
    line-height: normal;
    padding-top: 2vw;
}

.titre_2 {
    font-weight: 400;
    font-family: "Dela Gothic One";
    font-size: 5vw;
    text-align: center;
    line-height: normal;
    padding-top: 5vw;
}

/*ici je vais gerer la taille de mon carouselle et le placer*/
.carousselle {
    display: none;
}

.carousselle_iphone img {
    display: block;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
}

/*je redimensionne les image de mon carouselle*/
.carousselle img {
    width: 25vw;
}

/*ici je vais faire toute mes images pour les realisation*/
.realisation img {
    display: none; 
}

.confiture img {
    display:none; 
}

.bruire img {
    display:none;  
}

.projet img {
    display:none; 
}

.morphosis img {
    display: none; 
}

.realisation_iphone img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    margin-top: 5vw;
}

.confiture_iphone img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 70vw; 
    margin-top: 5vw;
}

.bruire_iphone img {
     display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 70vw;  
    margin-top: 5vw;
}

.projet_iphone img {
     display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 70vw; 
    margin-top: 5vw;
}

.morphosis_iphone img {
     display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 70vw; 
    margin-top: 5vw;
}

/*ici je cree mon bouton en voir plus*/
.bouton_A {
    display: block;
    width: 80vw;
    font-size: 2vw;
    font-family: "Dela Gothic One";
    color: #9747FF;
    border: 2px #9747FF solid;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 10vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
}

.bouton_A:hover{
    color: rgb(255, 255, 255);
    border: 2px solid #9747FF;
    background-color: #9747FF;
}
/*#fin Acceuil#*/


/*#Debut Acceuil#*/

/*#debut a propos#*/
h1 {
    color: #000;
    font-family: "Dela Gothic One";
    font-size: 5vw;
    font-weight: 400;
    margin-left: 5vw;
    text-align: center;
}
/*ici je fais le heros de la page a propos*/
.img_apropos img {
    width: 90vw;
    margin-left: 3vw ;
    margin-top: 2vw;
}
/*ici je vais faire le texte de notre mission en fesant le titre puis le long texte*/
.texte_titre {
    font-family: "Roboto Mono";
    font-size: 120%;
    margin-bottom: 1vw;
}

.texte {
    font-family: "Roboto Mono";
    text-align: justify;
    font-size: 100%;
}
/*ici je vais gere la taille de la boite qui encadre le texte*/
.texte_box {
    width: 85vw;
    margin-left: 5vw;
}

/*ici je fais le bouton en savoir plus pour le a propos avec son hover*/
.bouton_P {
    display: block;
    width: 80vw;
    font-size: 2.5vw;
    font-family: "Dela Gothic One";
    color: #9747FF;
    border: 2px #9747FF solid;
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px;
}

.bouton_P:hover{
    color: rgb(255, 255, 255);
    background-color: #9747FF;
    border: #9747FF solid 2px;
}

/*ici je fais le bouton qui es seulement sur iphone*/
.B {
     display: block;
    width: 80vw;
    font-size: 2.5vw;
    font-family: "Dela Gothic One";
    color: #9747FF;
    border: 2px #9747FF solid;
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px;
}

.B:hover {
    color: rgb(255, 255, 255);
    background-color: #9747FF;
    border: #9747FF solid 2px;
}
/*ici je vais faire mes trois photos pour lhistorique*/
.equipe img {
    display: none;
}

.iphone img {
    display: block;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    
}

/*ici je vais gere les photo des trois membre de lequipe*/
.membres {
    display: block;
    margin-left:11vw;
    margin-bottom: 4vw;
}

.membres img {
    display: block;
    width: 45vw;
    margin-left: 20vw;
}

/*ici je vais faire les texte pour decrire les membre*/
h3 {
    width: 50vw;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 2.5vw;
    padding-left: 0vw;
    margin-left: 17vw;
}

h3:hover {
    color: #9747FF;
}

/*ici je fais mon bouton +*/
h2 {
    font-family: "Dela Gothic One";
    font-size: 7vw;
    margin-left: 75vw;
    width: 2vw;
}

h2:hover {
    color: #9747FF;
}

/*ici je fais en sorte que mes h1 du bas de pahe soit different que le reste*/
.bas h1 {
    text-align: left;
    width: 70vw;
}
/*#fin a propos#*/
/*#Debut page artistes#*/

/*#fin page artistes#*/
/*ceci son les modifications pour le haut de page desktop donc apartir de plus de 600px de largeur*/
@media screen and (min-width: 767px){ 
    /*ceci es loto layout de mon haut de page au complet je vais donc faire quil prend la page au complet et gerer la distance entre mes elements*/
    nav {
        padding: 0vw 15vw;
        display: flex;
        width: 100vw;
        height: 8vw;
        justify-content: center;
        align-items: center;
        gap: 5vw;
        flex-shrink: 0;
        background-color: black;
    }
    /*ceci est ma barre de nav donc ou il ya les textes, je vais donc faire son auto layout*/
    .nav {
        display: flex;
        gap: 2vw;
    }
    /*ici es la hover pour le texte de ma nav*/
    nav :hover {
        color: #9747FF;
    }

    /*ici je fais le hover pour mon logo*/
    .logo:hover {
        opacity: 70%;
    }
    /*ici je massure que la parti menu je soit pas sur la version desktop*/
    .menu {
        display: none;
    }
    .propos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: #FFF;
        font-family: "Dela Gothic One";
        font-size: 1.5vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    

    .services {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: #FFF;
        font-family: "Dela Gothic One";
        font-size: 1.5vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .oeuvres {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: #FFF;
        font-family: "Dela Gothic One";
        font-size: 1.5vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .artistes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: #FFF;
        font-family: "Dela Gothic One";
        font-size: 1.5vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: #FFF;
        font-family: "Dela Gothic One";
        font-size: 1.5vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .fr {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: #FFF;
        font-family: "Dela Gothic One";
        font-size: 0.9vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .logo {
        width: 0vw;  
    }

    img {
        width: 25vw;
        flex-shrink: 0;
    }
    .recherche {
        display: flex;
    }
    .recherche :hover {
        color:#9747FF;
    }
    /*Debut footer */
    /* je formate la taille du rectangle gris du footer */
    footer {
        width: 100vw;
        height: 40vw;
        min-height: 800px;
        background-color:#D9D9D9;
    }

    /* j'ajoute display flex pour qu'il soit responsive et que les éléments de la div se placent un après l'autre flex direction collumn pour que tous les éléments se placent verticalement */
    .foot {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    /* je change la taille du logo pour qu'il entre dans le footer, j'ajoute un margin pour qu'il ne colle pas aux bordures du footer */
    .logo2 {
        width: 35vw;
        height: 100%;
        margin: 48px 0px 24px 10px;
    }

    /* je donne la taille et les propriétées au texte */
    .text {
        width: 60vw;
        height: 28vh;
        flex-shrink: 0;
        color: #000;
        font-family: "Roboto Mono";
        font-size: 1.5vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 40px;
        display: flex;
        flex-direction: row;
    }

    .reference{
        display: flex;
        flex-direction: row;
    }

    .resaux {
        width: 26vw;
        height: 100%;
        margin: 0 27vw 0 2.5vw;
    }

    .conseil {
        display: flex;
        width: 40vw;
        height: 100%;
        margin: 0 5vw 0 0;
    }

    .copyright {
        margin-left: 36vw;
        width: 20vw;
        height: 47px;
        font-size: 0.8vw;
    }

    .links {
        display: flex;
        flex-direction: column;
        width: 30vw;
        margin: 0 10vw 0 10vw;
        font-family: "Dela Gothic One";
    }

    .links :hover {
        color:#9747FF;
    }

    .site {
        text-decoration: none;
        color: #000;
        font-size: 2vw;
    }
/*#fin section footer#*/

    /*#Debut Acceuil#*/
/*ici je met mon video sur la largeur total de lecran et la positionne plus vers le haut pour avoir un crop plus interressant*/
main {
    width: 100vw;
}
video {
    width: 100vw;
    
    flex-shrink: 0;
   /* object-position:0px -300px;*/
}

/*ici je commence le main*/
.titre {
    font-weight: 400;
    font-family: "Dela Gothic One";
    font-size: 2vw;
    text-align: center;
    line-height: normal;
    padding-top: 2vw;
}

.titre_2 {
    display: none;
}
/*ici je fais mes image des carousselle*/
.carousselle {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-top: 3vw;
}

.carousselle_iphone {
    display: none;
}

/*ici je vais gerer tout mes longue image de realisation*/
.realisation img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    width: 80vw;  
}

.confiture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    width: 80vw;  
}

.bruire img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    width: 80vw;  
}

.projet img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    width: 80vw;  
}

.morphosis img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    width: 80vw;  
}

.realisation_iphone img {
    display: none; 
    
}

.confiture_iphone img {
    display: none; 
    
}

.bruire_iphone img {
     display: none; 
    
}

.projet_iphone img {
     display: none; 
    
}

.morphosis_iphone img {
     display: none; 
    
}

/*fin des longue images de realisation*/
/*ici je cree mon bouton en voir plus*/
.bouton_A {
    display: block;
    width: 80vw;
    font-size: 1.3vw;
    font-family: "Dela Gothic One";
    color: #9747FF;
    border: 2px #9747FF solid;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 10vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
}

.bouton_A:hover{
    color: rgb(255, 255, 255);
    background-color: #9747FF;
    border: #9747FF solid 2px;
}

/*#fin Acceuil#*/
/*#debut a propos#*/
/*ici je fais mes titres en h1*/
h1 {
    color: #000;
    font-family: "Dela Gothic One";
    font-size: 2.5vw;
    font-weight: 400;
    margin-left: 15vw;
    text-align: left;
}
/*ici je fais le heros de la page a propos*/
.img_apropos img {
    width: 90vw;
    margin-left: 4vw ;
    margin-top: 2vw;
}
/*ici je vais faire le texte de notre mission en fesant le titre puis le long texte*/
.texte_titre {
    font-family: "Roboto Mono";
    font-size: 200%;
    margin-bottom: 1vw;
}

.texte {
    font-family: "Roboto Mono";
    text-align: justify;
    font-size: 150%;
}
/*ici je vais gere la taille de la boite qui encadre le texte*/
.texte_box {
    width: 70vw;
    margin-left: 15vw;
}

/*ici je fais le bouton en savoir plus pour le a propos avec son hover*/
.bouton_P {
    display: block;
    width: 70vw;
    font-size: 1.3vw;
    font-family: "Dela Gothic One";
    color: #9747FF;
    border: 2px #9747FF solid;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 25px;
}

.bouton_P:hover{
    color: rgb(255, 255, 255);
    background-color: #9747FF;
    border: #9747FF solid 2px;
}

.B {
    display: none;
}

/*ici je vais faire mes trois photos pour lhistorique*/
.equipe img {
    display: inline;
    width: 25vw;
    padding: 1vw;
}

.equipe {
    margin-left:13vw;
}

.iphone img {
    display: none;
}
/*ici je vais gere les photo des trois membre de lequipe*/
.membres {
    display: flex;
    margin-left:11vw;
    margin-bottom: 4vw;
}

.membres img {
    width: 25vw;
    padding-left: 5vw;
    margin-left: 0vw;
}

/*ici je vais faire les texte pour decrire les membre*/
h3 {
    width: 25vw;
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 1vw;
    padding-left: 5vw;
    margin-left: 0vw;
}

h3:hover {
    color: #9747FF;
}

/*ici je fais mes bouton +-*/
h2 {
    font-family: "Dela Gothic One";
    font-size: 3vw;
    margin-left: 75vw;
    width: 2vw;
}

h2:hover {
    color: #9747FF;
}
/*#fin a propos#*/
/*#Debut page artistes#*/

/*#fin page artistes#*/
}
/*#fin de la section haut de page#*/
